/* Colour Guide
- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)
- Off-white: hsl(36, 100%, 99%)
- Grayish blue: hsl(233, 8%, 79%)
- Dark grayish blue: hsl(236, 13%, 42%)
- Very dark blue: hsl(240, 100%, 5%)
*/

/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(36, 100%, 99%);
  font-family: "Inter", sans-serif;
  padding: 0rem 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: hsl(240, 100%, 5%);
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 0.9;
}

p {
  color: hsl(236, 13%, 42%);
  font-size: 0.94rem;
  line-height: 1.5;
  padding: 1rem 0;
}

.desktop-img {
  display: none;
}

/* Navigation Stuff */
.page-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.main-nav {
  background-color: hsl(36, 100%, 99%);
  position: absolute;
  height: 100vh;
  width: 80vw;
  top: 60px;
  right: 0;
  z-index: 1;
}

.filter {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.295);
}

.main-nav-list {
  align-items: left;
  justify-content: top;
  background-color: hsl(36, 100%, 99%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  padding: 6rem 0rem 0rem 1rem;
  position: absolute;
  right: 0;
  top: -1px;
  width: 60vw;
}

.hidden {
  display: none;
}

.main-nav ul {
  list-style-type: none;
}

.main-nav-list li a,
.main-nav-list li a:visited {
  color: hsl(240, 100%, 5%);
  font-size: 1.4rem;
  text-decoration: none;
}
.main-nav-list li a:hover .main-nav-list li a:active {
  color: hsl(5, 85%, 63%);
}

.toggle-icon:hover {
  cursor: pointer;
}

/* Main Article */
.headline-article img {
  padding: 1rem 0rem;
  width: 100%;
}

.read-more-link,
.read-more-link:visited {
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  display: block;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 1rem 0rem 4rem 0rem;
  padding: 0.8rem 1.6rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 50%;
}

.read-more-link:hover,
.read-more-link:active {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
}

/* New Section */
.new-section {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.new-section-title {
  color: hsl(35, 77%, 62%);
  font-size: 2rem;
}

.new-heading {
  margin-top: 1rem;
}

.new-heading-link,
.new-heading-link:visited {
  color: hsl(36, 100%, 99%);
  text-decoration: none;
  font-weight: 800;
}
.new-heading-link:hover,
.new-heading-link:active {
  color: hsl(35, 77%, 62%);
}

.new-copy {
  color: hsl(233, 8%, 79%);
}

/* Popular Section */
.popular {
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.popular-acticle {
  display: flex;
  align-items: top;
  gap: 1rem;
}

.popular-acticle img {
  width: 30%;
  height: 30%;
}

.popular-rank {
  color: hsl(233, 8%, 79%);
  font-size: 2rem;
  font-weight: 700;
}

.popular-heading {
  font-weight: 800;
  margin-top: 0.8rem;
}

.popular-link,
.popular-link:visited {
  color: hsl(240, 100%, 5%);
  text-decoration: none;
  font-weight: 800;
}
.popular-link:hover,
.popular-link:active {
  color: hsl(5, 85%, 63%);
}

/* Attribution Section */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 750px) {
  /* Navigation Stuff */
  .toggle-icon {
    display: none;
  }

  .page-header {
    height: 5rem;
    justify-content: space-between;
  }

  .main-nav {
    display: block;
    height: 3rem;
    position: static;
    width: 30rem;
  }

  .main-nav-list {
    display: flex;
    flex-direction: row;
    height: 5rem;
    width: 100%;
    position: static;
    align-items: right;
    padding: 1rem;
  }

  /* Image Swapping */
  .desktop-img {
    display: block;
  }
  .mobile-img {
    display: none;
  }

  /* Layout Stuff */
  .page-layout {
    display: grid;
    grid-template-columns: 68% 30%;
    column-gap: 2rem;
  }

  .page-header {
    grid-column: 1/3;
  }

  .popular {
    grid-column: 1/3;
    flex-direction: row;
    justify-content: space-between;
  }

  .popular img {
    width: 40%;
    height: 100%;
  }
  .new-section {
    margin-top: 1rem;
    padding: 4rem;
  }

  .main-text-container {
    padding: 2rem;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 50% 50%;
  }

  .read-more-link {
    grid-column: 2/3;
    margin: 1rem 0rem;
  }

  /* Font Sizing */
  h1 {
    font-size: 4rem;
  }
  .new-section-title {
    font-size: 3rem;
  }

  .new-heading {
    font-size: 2.4rem;
  }
}
